@model Clinic.Database.Doctor

@{
    ViewData["Title"] = "Szczegóły lekarza";
}

<div class="container-fluid py-5" style="width: 500px">
    <h3 class="mb-4">Szczegóły lekarza</h3>

    <div class="mb-3">
        <label class="form-label">Imię</label>
        <input value="@Model.Name" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Nazwisko</label>
        <input value="@Model.LastName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Specjalizacja</label>
        <input value="@Model.Specialization?.Name" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Adres email</label>
        <input value="@Model.Email" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Data urodzenia</label>
        <input value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" type="date" class="form-control" readonly />
    </div>
</div>
