@model IEnumerable<Clinic.Database.Doctor>

@{
    ViewData["Title"] = "Index";
}

<p>
    <div class="d-flex justify-content-between">
        <h3>Lekarze</h3>
        <a asp-action="Create" class="btn btn-success">Dodaj lekarza</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Specjalizacja</th>
            <th>Email</th>
            <th>Data urodzenia</th>
            <th>Akcje</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm me-1" title="Edytuj">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm me-1" title="Zobacz">
                    <i class="bi bi-eye-fill"></i>
                </a>
                <form asp-action="Delete" method="post" asp-route-id="@item.Id" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger btn-sm me-1" title="Usuń" onclick="return confirm('Na pewno chcesz usunąć pacjenta?');">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
