@model List<Clinic.Database.Text>
@{
    ViewData["Title"] = @Model.FirstOrDefault(t => t.Key == "title_contact")?.Content;
}
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center">@Model.FirstOrDefault(t => t.Key == "contact_title").Content</h5>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">@Model.FirstOrDefault(t => t.Key == "contact_email").Content</label>
          <input type="email" class="form-control" id="email" placeholder="@Model.FirstOrDefault(t => t.Key == "contact_email_placeholder").Content" required>
        </div>

        <div class="mb-3">
          <label for="message" class="form-label">@Model.FirstOrDefault(t => t.Key == "contact_message").Content</label>
          <textarea class="form-control" id="message" rows="6" placeholder="@Model.FirstOrDefault(t => t.Key == "contact_message_placeholder").Content" required></textarea>
        </div>

        <button type="submit" class="btn btn-success">@Model.FirstOrDefault(t => t.Key == "contact_send_button").Content</button>
      </form>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.7792880533516!2d19.976203376432796!3d49.2805792713925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4715f2de9c6b8a9b%3A0xbb65e0b5ef03cb3a!2sPrzewodnik%C3%B3w%20Tatrza%C5%84skich%2C%2034-500%20Zakopane!5e0!3m2!1spl!2spl!4v1744396886723!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
