@{
  ViewData["Title"] = "Wizyty";

  var tempAppointments = new List<(int Id, string PatientName, string PatientLastName, string DoctorName, string DoctorLastName, string Specialization, string Date, string Status)>
  {
      (1, "Anna", "Nowak", "Krzysztof", "Zjadek", "Kardiolog", "2025-04-15 10:00", "Zaplanowana"),
      (2, "Marek", "Wiśniewski", "Karina", "Wojska", "Neurolog", "2025-04-15 11:30", "Zakończona"),
      (3, "Julia", "Kowalczyk", "Karol", "Poss", "Ortopeda", "2025-04-16 09:00", "Zaplanowana"),
      (4, "Tomasz", "Kamiński", "Magdalena", "Kowalska", "Diabetolog", "2025-04-17 13:45", "Odwołana"),
      (5, "Monika", "Dąbrowska", "Karol", "Wojteka", "Stomatolog", "2025-04-18 08:30", "Zaplanowana"),
      (6, "Paweł", "Zieliński", "Szymon", "Szczepała", "Pediatra", "2025-04-19 14:00", "Zakończona")
  };
}

<div class="container-fluid py-5">
  <div class="d-flex justify-content-between">
    <h3>Wizyty</h3>
    <button type="button" class="btn btn-success">Dodaj wizytę</button>
  </div>
  <table class="table table-striped my-4"">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pacjent</th>
        <th scope="col">Lekarz</th>
        <th scope="col">Specjalizacja</th>
        <th scope="col">Data</th>
        <th scope="col">Status</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var appointment in @tempAppointments)
      {
        <tr>
          <th scope="row">@appointment.Id</th>
          <th scope="row">@appointment.PatientName @appointment.PatientLastName</th>
          <th scope="row">@appointment.DoctorName @appointment.DoctorLastName</th>
          <th scope="row">@appointment.Specialization</th>
          <th scope="row">@appointment.Date</th>
          <th scope="row">@appointment.Status</th>
          <th>
            <a href="#" class="btn btn-outline-primary btn-sm me-1" title="Edytuj">
              <i class="bi bi-pencil-square"></i>
            </a>
            <a href="#" class="btn btn-outline-danger btn-sm me-1" title="Usuń">
              <i class="bi bi-trash-fill"></i>
            </a>
            <a href="#" class="btn btn-outline-secondary btn-sm" title="Zobacz">
              <i class="bi bi-eye-fill"></i>
            </a>
          </th>
        </tr>
      }
    </tbody>
  </table>
</div>
