@model IEnumerable<Clinic.Database.Text>

@{
  ViewData["Title"] = "Teksty";
}

<div class="container-fluid py-5">
  <div class="d-flex justify-content-between">
    <h3>Teksty</h3>
    <a asp-action="Create" class="btn btn-success">Dodaj tekst</a>
  </div>

  @if (!Model.Any()) {
    <p class="text-muted">Brak tekstów</p>
  }
  else
  {
    <input type="text" class="form-control mt-4 w-50" placeholder="Szukaj po tekście" id="searcher">

    <table class="table table-striped my-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Klucz</th>
          <th>Treść</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr data-value="@item.Content">
            <td>@item.Id</td>
            <td>@item.Key</td>
            <td>@item.Content</td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm me-1" title="Edytuj">
                <i class="bi bi-pencil-square"></i>
              </a>
              <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm me-1" title="Szczegóły">
                <i class="bi bi-info-circle"></i>
              </a>
              <form asp-action="Delete" method="post" asp-route-id="@item.Id" class="d-inline">
                <button type="submit" class="btn btn-outline-danger btn-sm me-1" title="Usuń" onclick="return confirm('Na pewno chcesz usunąć ten tekst?');">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </form>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>


<script>
  const searcher = document.getElementById('searcher');
  const rows = document.querySelectorAll("table tbody tr");

  searcher.addEventListener('input', (event) => {
    const text = event.target.value.toLowerCase();

    rows.forEach(row => {
      const rowText = row.dataset.value.toLowerCase();

      if (rowText.includes(text)) {
        row.style.display = 'table-row';
      } else {
        row.style.display = 'none';
      }
    })
  })
</script>
