@{
  ViewData["Title"] = "Pacjenci";

  var tempPatients = new List<(int Id, string Name, string LastName, string DateOfBirth, string Address, string PhoneNumber)>
  {
      (1, "Anna", "Nowak", "1990-05-15", "ul. Leśna 5, Zakopane", "+48 111 222 333"),
      (2, "Marek", "Wiśniewski", "1985-10-02", "ul. Górska 10, Zakopane", "+48 222 333 444"),
      (3, "Julia", "Kowalczyk", "1992-03-20", "ul. Słoneczna 3, Zakopane", "+48 333 444 555"),
      (4, "Tomasz", "Kamiński", "1978-07-12", "ul. Widokowa 9, Zakopane", "+48 444 555 666"),
      (5, "Monika", "Dąbrowska", "2000-12-30", "ul. Krótka 1, Zakopane", "+48 555 666 777"),
      (6, "Paweł", "Zieliński", "1988-09-05", "ul. Jodłowa 17, Zakopane", "+48 666 777 888")
  };
}

<div class="container-fluid py-5">
  <div class="d-flex justify-content-between">
    <h3>Pacjenci</h3>
    <button type="button" class="btn btn-success">Dodaj pacjenta</button>
  </div>
  <table class="table table-striped my-4"">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Data urodzenia</th>
        <th scope="col">Adres zamieszkania</th>
        <th scope="col">Numer telefonu</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var patient in @tempPatients)
      {
        <tr>
          <th scope="row">@patient.Id</th>
          <th scope="row">@patient.Name</th>
          <th scope="row">@patient.LastName</th>
          <th scope="row">@patient.DateOfBirth</th>
          <th scope="row">@patient.Address</th>
          <th scope="row">@patient.PhoneNumber</th>
          <th>
            <a href="#" class="btn btn-outline-primary btn-sm me-1" title="Edytuj">
              <i class="bi bi-pencil-square"></i>
            </a>
            <a href="#" class="btn btn-outline-danger btn-sm me-1" title="Usuń">
              <i class="bi bi-trash-fill"></i>
            </a>
            <a href="#" class="btn btn-outline-secondary btn-sm" title="Zobacz">
              <i class="bi bi-eye-fill"></i>
            </a>
          </th>
        </tr>
      }
    </tbody>
  </table>
</div>
