@model HomeIndexViewModel
@{
    ViewData["Title"] = "Strona główna";
}


<div style="width: 700px; height: 700px; padding-top: 20px;">
    <h2>Liczba wizyt w @DateTime.Now.Year</h2>
    <canvas id="visits" width="200" height="100" />
</div>


<script>
    // visits chart
    const visitCanvas = document.getElementById('visits');

    new Chart(visitCanvas, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(@Model.Visits.Label)),
            datasets: [{
                label: 'Wizyty',
                data: @Html.Raw(Json.Serialize(@Model.Visits.Data)),
                borderWidth: 1
            }]
        }
    });
</script>
