@model AccountViewModel
@{
  ViewData["Title"] = "Moje konto";
}

<div class="d-flex justify-content-center py-4">
  <div class="card shadow-sm" style="width: 350px;">
    <div class="card-body pt-4">
      <h3 class="card-title text-center">Twoje dane</h3>
      <div class="card-text">
        <form>
          <div class="mb-3">
            <label for="firstname" class="form-label">Imie</label>
            <input type="text" class="form-control" id="firstname" value="Mateusz" disabled>
          </div>

          <div class="mb-3">
            <label for="lastname" class="form-label">Nazwisko</label>
            <input type="text" class="form-control" id="lastname" value="Osiński" disabled>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" value="mateusz.osinski@gmail.com" disabled>
          </div>
        </form>
      </div>
      <a href="/accountEdit" class="btn btn-success d-flex mx-auto mt-3">Edytuj profil</a>
    </div>
  </div>
  <div class="m-5 mt-0" style="width: 800px">
    <h2>Wizyty:</h2>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Data wizyty</th>
            <th>Powód</th>
            <th>Pacjent</th>
            <th>Lekarz</th>
        </tr>
    </thead>
    <tbody>
      @foreach(var visit in @Model.Visits) {
        <tr>
            <td>@visit.VisitDate</td>
            <td>@visit.VisitReason</td>
            <td>@visit.Patient?.LastName @visit.Patient?.FirstName</td>
            <td>@visit.Doctor?.LastName @visit.Doctor?.Name</td>
        </tr>
      }
    </table>

    <div class="mt-5">
      <h2>Recepty:</h2>
      <table class="table table-striped">
      <thead>
          <tr>
              <th>Opis</th>
              <th>Pacjent</th>
              <th>Lekarz</th>
          </tr>
      </thead>
      <tbody>
        @foreach(var prescription in @Model.Prescriptions) {
          <tr>
              <td>@prescription.Description</td>
              <td>@prescription.Patient?.LastName @prescription.Patient?.FirstName</td>
              <td>@prescription.Doctor?.LastName @prescription.Doctor?.Name</td>
          </tr>
        }
      </table>
    </div>
  </div>
</div>
