@model PortalHomeViewModel
@{
  ViewData["Title"] = Model.Texts.First(t => t.Key == "title_home")?.Content;

    var cards = new List<(string Icon, string Title, string Description)>
    {
        ("bi bi-search me-2", @Model.Texts.First(t => t.Key == "home_card_1_title")?.Content, @Model.Texts.First(t => t.Key == "home_card_1_content")?.Content),
        ("bi bi-calendar-check-fill me-2", @Model.Texts.First(t => t.Key == "home_card_2_title")?.Content, @Model.Texts.First(t => t.Key == "home_card_2_content")?.Content),
        ("bi bi-clock-fill me-2", @Model.Texts.First(t => t.Key == "home_card_3_title")?.Content, @Model.Texts.First(t => t.Key == "home_card_3_content")?.Content)
    };
}

<div class="position-relative doctor-image-container">
    <img src="~/images/doctorhomepage.jpg" alt="lekarz z tabletem" class="w-100 h-100 object-fit-cover" />
</div>

<div class="py-5 bg-body-tertiary">
  <div class="row justify-content-evenly">

    @foreach (var card in @cards)
    {
        <div class="col-lg-3 mb-3">
            <div class="card bg-success text-black h-100">
                <div class="card-body d-flex flex-column">
                <div class="mb-2">
                    <h5 class="card-title">
                        <i class="@card.Icon"></i> @card.Title
                    </h5>
                    <p class="card-text text-white">
                    @card.Description
                    </p>
                </div>
                </div>
            </div>
        </div>
    }
  </div>
</div>

<div class="container py-5">
  <h3 class="text-center mb-4">
     @Model.Texts.First(t => t.Key == "home_specs_title").Content
  </h3>

  <div class="row g-4 justify-content-center">

  @foreach (var spec in @Model.Specializations)
  {
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">
            <i class="@spec.Icon"></i> @spec.Name
          </h5>
        </div>
      </div>
    </div>
  }
</div>
