@model List<Clinic.Database.Text>

@{
    ViewData["Title"] = @Model.FirstOrDefault(t => t.Key == "title_about_us")?.Content;
}
<div class="container my-5">
  <div class="accordion" id="aboutusAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#aboutus" aria-expanded="true" aria-controls="aboutus">
          <i class="bi bi-info-circle-fill me-2"></i><strong>@Model.FirstOrDefault(t => t.Key == "about_title_1")?.Content</strong>
        </button>
      </h2>
      <div id="aboutus" class="accordion-collapse collapse show" data-bs-parent="#aboutusAccordion">
        <div class="accordion-body">
          @Model.FirstOrDefault(t => t.Key == "about_content_1")?.Content
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#team" aria-expanded="true" aria-controls="team">
          <i class="bi bi-people-fill me-2"></i> <strong>@Model.FirstOrDefault(t => t.Key == "about_title_2")?.Content</strong>
        </button>
      </h2>
      <div id="team" class="accordion-collapse collapse" data-bs-parent="#aboutusAccordion">
        <div class="accordion-body">
          @Model.FirstOrDefault(t => t.Key == "about_content_2")?.Content
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mission" aria-expanded="true" aria-controls="mission">
          <i class="bi bi-bullseye me-2"></i><strong>@Model.FirstOrDefault(t => t.Key == "about_title_3")?.Content</strong>
        </button>
      </h2>
      <div id="mission" class="accordion-collapse collapse" data-bs-parent="#aboutusAccordion">
        <div class="accordion-body">
          @Model.FirstOrDefault(t => t.Key == "about_content_3")?.Content
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#plans" aria-expanded="true" aria-controls="plans">
          <i class="bi bi-eye-fill me-2"></i><strong>@Model.FirstOrDefault(t => t.Key == "about_title_4")?.Content</strong>
        </button>
      </h2>
      <div id="plans" class="accordion-collapse collapse" data-bs-parent="#aboutusAccordion">
        <div class="accordion-body">
          @Model.FirstOrDefault(t => t.Key == "about_content_4")?.Content
        </div>
      </div>
    </div>
  </div>
</div>
