@model DoctorHomePageViewModel

@{
    ViewData["Title"] = Model.Texts.First(t => t.Key == "title_doctors")?.Content;
}

<div class="container py-5">
  <h3 class="text-center mb-4">@Model.Texts.First(t => t.Key == "doctors_title").Content</h3>

  <div class="row gy-4 justify-content-center">
    @foreach (var doctor in @Model.Doctors)
    {
      <div class="col-md-6">
        <div class="card bg-success text-white shadow-sm">
          <div class="card-body d-flex align-items-start p-3.5">
            <div>
              <h5 class="card-title mb-2">@doctor.Name</h5>
              <div class="d-flex">
                  <i class="@doctor.Icon me-3"></i>
                  <p class="card-text">@doctor.Specialization</p>
              </div>
              <div class="d-flex mt-1">
                <i class="bi bi-envelope-at-fill me-3"></i>
                <p class="card-text">@doctor.Email</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
